.Nav {
  background-color: #8294c4;
}

.Hero {
  background-color: #acb1d6;
}

.Hero-img {
  background-color: #b7b7b7;
}

.Features {
  background-color: #dbdfea;
}

.Qualifications {
  background-color: #dbdfea;
}

.qualification-list {
  background-color: #dbdfea;
}

.About-me {
  background-color: #dbdfea;
}

.About-me-box {
  background-color: #acb1d6 !important;
}

.Footer {
  background-color: #8294c4;
}
